/* intro section */

.introduction {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 2.3rem minmax(auto, 1fr) auto 2.3rem minmax(auto, 1fr);
  row-gap: 2rem;
}

.introduction__header {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  align-self: center;
  background-color: var(--color-sand);
  border-radius: 0.25rem;
  padding: 0 1.5rem;
}

.introduction__header h1 {
  font-weight: 400;
  font-size: 1rem;
}

.introduction__header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0.55rem;
  bottom: 0.55rem;
  content: "";
  border-radius: 0.25rem;
  border: 0.125rem solid var(--main-color);
}

.introduction__header em {
  font-weight: 900;
  line-height: 1;
  display: block;
  font-style: normal;
  transform: translateX(-0.1rem);
  font-size: 3.5rem;
}

.introduction__content {
  grid-row: 5;
  grid-column: 1 / 6;
}

.introduction__content p {
  font-weight: 500;
  max-width: 30ch;
  padding: 0;
  margin: 0;
}

.introduction__content a {
  margin-top: 1.7rem;
}

.introduction__media {
  grid-row: 1 / 5;
  grid-column: 1 / 6;
  position: relative;
  z-index: -1;
}

.introduction__media:before {
  position: absolute;
  content: "";
  inset: -0.5rem;
  border-radius: 0.25rem;
  z-index: -1;
  background-image: var(--background-dots);
}

.introduction__media img {
  border-radius: 0.25rem;
}

/* buy section */

.buy {
  margin-top: 3rem;
  padding: 1.2rem 0;
  position: relative;
  background-color: var(--main-color);
  color: var(--main-background);
}

.buy:before {
  position: absolute;
  content: "";
  z-index: -1;
  inset: -0.7rem 0 -0.7rem 0;
  background-image: var(--background-dots);
}

.buy__inner h2 {
  font-weight: 900;
  position: relative;
  font-size: 2.3rem;
  line-height: 1.1;
}

.buy__inner h2:after {
  position: absolute;
  content: ".";
  color: var(--button-background);
}

.buy__inner p {
  max-width: 30ch;
}

.shadow-button {
  background: transparent;
  margin-top: 1rem;
  color: var(--button-background);
  border-color: var(--button-background);
}

.shadow-button:hover {
  background: var(--button-background);
  color: var(--main-color);
}

/* selected work section */

.work {
  margin-top: 3rem;
  position: relative;
  padding: 0.3rem 1rem;
  background-color: var(--light-background);
}

.work:before {
  position: absolute;
  content: "";
  z-index: -1;
  inset: -0.7rem 0 -0.7rem 0;
  background-image: var(--background-dots);
}

.work__content h2 {
  line-height: 1;
  font-weight: 900;
  position: relative;
  font-size: 2.5rem;
  width: auto;
  color: var(--color-watermelon);
}

.work__content h2:after {
  position: absolute;
  content: ".";
  color: var(--banner-borderColor);
}

.work__content p {
  max-width: 30ch;
  font-weight: 500;
}

.work__inner a {
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.work__inner a:before {
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  top: -0.75rem;
  left: -0.35rem;
  z-index: 1;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--button-hover-background);
}

.work__inner a:focus {
  outline: 0.15rem dashed var(--color-indigo);
  outline-offset: 0.25rem;
}

.work__action {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
}

/* studio gallery section */

.studio {
  margin-top: 3rem;
  background-color: var(--color-sand);
  position: relative;
  padding: 1rem 0;
}

.studio:before {
  position: absolute;
  content: "";
  z-index: -1;
  inset: -0.7rem 0 -0.7rem 0;
  background-image: var(--background-dots);
}

.studio__inner h2 {
  font-size: 2.3rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
}

.studio__inner h2:after {
  position: absolute;
  content: ".";
  color: var(--color-turqouise);
}

.studio__inner ul {
  overflow-x: auto;
  padding: 0;
  display: flex;
  list-style: none;
}

.studio__inner li {
  width: 17rem;
  flex-shrink: 0;
  height: 12rem;
  padding: 0 1rem 1rem 0;
}

.studio__inner img {
  border-radius: 0.25rem;
}

/* media queries */

@media only screen and (min-width: 768px) {
  /* intro section */
  .introduction {
    grid-template-columns: 1rem repeat(3, minmax(auto, 1fr)) 1rem;
    grid-template-rows: 2rem 12rem 2rem 12rem 2rem;
    row-gap: 0;
  }

  .introduction__header {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }

  .introduction__header:before {
    border: 0.25rem solid var(--main-color);
  }

  .introduction__header h1 {
    font-weight: 400;
    font-size: 1.825rem;
  }

  .introduction__header em {
    font-weight: 900;
    line-height: 1;
    display: block;
    font-style: normal;
    transform: translateX(-0.1rem);
    font-size: 5.6rem;
  }

  .introduction__content {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
  }

  .introduction__media {
    grid-row: 1 / 6;
    grid-column: 3 / 6;
  }

  /* buy section */

  .buy__inner {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
  }

  .buy__inner h2 {
    font-size: 4rem;
    grid-column: 1 / 9;
    margin: 0 0 1rem 0;
  }

  .buy__inner p {
    grid-row: 2;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    grid-column: 7 / 12;
  }

  .buy__inner .buy__action {
    grid-row: 3;
    grid-column: 6 / 12;
  }

  /* work section */

  .work {
    padding: 2rem 0;
  }

  .work__inner {
    display: grid;
    gap: 1.7rem;
    grid-template-columns: repeat(6, minmax(auto, 1fr));
  }

  .work__inner :nth-child(2) {
    grid-column: 4 / 8;
  }

  .work__inner :nth-child(3) {
    grid-column: 1 / 4;
  }

  .work__inner :nth-child(4) {
    grid-column: 4 / 8;
  }

  .work__inner a:before {
    border: 0.2rem solid var(--button-hover-background);
  }

  .work__content {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: flex-end;
  }

  .work__content h2 {
    font-size: 4rem;
    margin: 0;
  }

  .work__content p {
    max-width: 25ch;
  }

  /* studio gallery section */

  .studio__inner h2 {
    font-size: 4rem;
  }

  .studio__inner li {
    width: 25rem;
    height: 16rem;
  }
}
